@{
    ViewBag.Title = "InfoPage";
}

<h2>InfoPage. Please use domain user passwd parameters to submit a request</h2>
<div>
http://pathtoyourwebserver.com/pathtoyourapplication/updaterecord?domain=yourdomain.com&record=test&user=irrelevant&password=irrelevant
<div>
