

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Route53 record updater</title>
</head>
<body>      
<div>
Update completed. The updated IP is @ViewData["adjustedIP"]
</div>
</body>
</html>
